/***************FORMULARIOS*********************************/

.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.form-container form{
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    box-shadow: 0 5px 10px rgba(32, 65, 22, 0.1);
    background: #fff;
    text-align: center;
}

.form-container form h3{
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.form-container form input,
.form-container form select{
    width: 90%;
    padding: 10px 15px;
    font-size: 18px;
    margin: 8px 0;
    background-color: #eeeeee;
    border-radius: 10px;
}

 
.form-container form .form-btn{
    background:  #afbd89;
    color:  white;
    text-transform: capitalize;
    font-size: 20px; 
    cursor: pointer;
    width: 50%;
}

.form-container form .form-btn:hover{
    background:#6D9363 ;
    color: #fff;
}

.form-container form p{
    margin-top: 10px;
    font-size: 20px;
    color: #333;
}

.form-container form p a{
    color:#6D9363;
}

.message{
    background-color: #6D9363 ;
    color: #eee;
    margin: 14px 30px;
    padding: 5px;  
    border-radius: 6px;
}

/**************************INICIO**************************/


.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    margin: 0 36%;
}

.barra{
    background-color: #6D9363;
}

.boton-inici{
    background:  #afbd89;
    color:  #eee;
    font-size: 16px;
    height: 60px;
    border-radius: 8px;
    margin: 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.495);
  
}

.boton-inici:hover{
    background:#94CA86;
    color: #fff;
}

.boton-inicio{
    background:  #afbd89;
    color:  #eee;
    font-size: 16px;
    height: 60px;
    border-radius: 8px;
    margin: 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.495);
    margin-left: 40%;
}

.boton-inicio:hover{
    background:#94CA86;
    color: #fff;
}


.ima{
    width: 30rem;
    height: 30rem;
    margin: 20px 36%;
}

.boton-ini{
    background: #afbd89;
    color:  #eee;
    text-transform: capitalize;
    font-size: 22px; 
    cursor: pointer;
    width: 20%;
    margin: 2% 40%;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.495);
}

.boton-ini:hover{
    background:#6D9363;
    color: #fff;
}